<footer>
<div class="container">
    <div class="row">
        <div class="col-4">
            <p>Harshit Srivastava</p>
            <p>Reg. No.: 19BCE0382</p>
        </div>
        <div class="col-4">
            <p>DBMS project Fall 2020-21</p>
            <p>Faculty: Arup Ghosh</p>
        </div>
        <div class="col-4">
            <p>Insurance Service DBMS</p>
            <p></p>
        </div>
    </div>
</div>
</footer>

</body>
</html>