<%- include("./partials/header.ejs") %>
<h1 id="wel">All Agents</h1>
<div class= "container">
    <div class="row">
        <% ag.reverse().forEach(function(a){ %>
            <div class="col-sm">
                <div class="card TitleA">
                    <a class="mainLinks" href="/agent/<%=a._id%>"><%=a.a_name%></a>.
                </div>
            </div>
            <% }) %>
    </div>
</div>
<br>
<a class="btn btn-lg btn-outline-info" style="color: azure; width: 210px;align-self:center;" href="/newagent">Create A new Agent</a>
<%- include("./partials/footer.ejs") %>