<%- include("./partials/header.ejs") %>

<h1> Welcome to Srivastava Health and Travel Insurance Company</h1>
<a href="/agents">Show Agents</a>
<a href="/customers">Show Customers</a>
<%- include("./partials/footer.ejs") %>
