<%- include("./partials/header.ejs") %>

<h1> Welcome to Srivastava Health and Travel Insurance Company</h1>
<a href="/agents">Show Agents</a><br>
<a href="/customers">Show Customers</a><br>
<a href="/insurance">Show Insurance Policies</a>
<%- include("./partials/footer.ejs") %>
