<%- include("./partials/header.ejs") %>
<div id="caro">
    <br>
<h1 id="wel"> Welcome to Srivastava Health and Travel Insurance Company</h1><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card TitleC">
                <a class="mainLinks" href="/agents">Show Agents</a><br>
            </div>
        </div>
        <div class="col">
            <div class="card TitleC">
                <a class="mainLinks" href="/customers">Show Customers</a><br>
            </div>
        </div>
        <div class="col">
            <div class="card TitleC">
                <a class="mainLinks" href="/insurance">Show Insurance Policies</a>
            </div>
        </div>
    </div>
</div>

</div>
<%- include("./partials/footer.ejs") %>
