<%- include("./partials/header.ejs") %>
<h1>All Insurance Policies</h1>

<% In.forEach(function(I){ %>
    <a href="/insurance/<%=I._id%>"><%=I._id%></a><br>
<% }) %>

<%- include("./partials/footer.ejs") %>